/* font-family: 'Cabin', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Urbanist', sans-serif;
itim:
font-family: 'Itim', cursive;
comillas::afterfont-family: 'Catamaran', sans-serif; 
frase::afterfont-family: 'Libre Baskerville', serif;*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color:#EDEDED;
    margin: 0;
}
.pie-top{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #1C930D;
    background-color: #EDEDED;
    z-index: 100;
}
.nombre{
    list-style-type: none;
    color: #252525;
    font-size: 2.5rem;
    margin: 0.5rem 0 1rem 1rem;
}
.item-nombre a{
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #252525;
}
/* icon lentes: */
.img-lentes{
    position: absolute;
    width: 5rem;
    left: 50%;
    transform: translate(-50%, 0);
    transition: transform 0.5s, width 0.5s;
}

.img-lentes:hover{
    width: 6rem;
}
/*  */
.menu{
    font-family: 'Itim', cursive;
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.modo-oscuro{
    list-style-type: none;
}
.item-men{
    text-decoration: none;
    color:#252525;
    font-size: 1.5rem;;
    transition: color 0.3s, font-size 0.3s;
}
.item-men:hover{
    color: #1C930D;
    text-decoration: underline 2px #1C930D;
    text-underline-offset: 5px;
    font-size: 1.6rem;
    background-size: cover;
}
.bombillo{
    height: 2rem;
    margin: 0 1rem 0 0.5rem;
    transition: height 0.3s;
}
.bombillo:hover{
    height: 2.5rem;
    margin: 0 1rem 0 0;
}

.nombre-otto{
    transition: color 0.6s;
}

.nombre-otto:hover{
    color: #1C930D;
}


/* video!!!! */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
  
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   /*  background-color: #252525;
    padding: 40px; */
}

.close {
    position: absolute;
    top: -10px;
    right: -40px;
    font-size: 40px;
    cursor: pointer;
    color: #1C930D;
    font-weight: 700;
    background-color: #252525;
    padding: 0 10px;
}



/* Sobre mi Perfil inicio: */
.desc-sobre-mi{
    display: flex;
    justify-content: space-evenly;
}
.title-sobre-mi{
    font-family: 'Itim', cursive;
    font-weight: 400;
    color: #252525;
    text-align: center;
    font-size: 3rem;
    margin: 6rem 0 2rem 0;
}
.word-sobre-mi{
    text-decoration: underline 2px #1C930D;
    text-underline-offset: 10px;
}
.perfil{
    width: 28rem;
    text-align: center;
    padding: 4rem;
    border: 3px solid #1C930D;
    border-radius: 50%;
    transition: background-color 0.5s;
}
.subtitle-sobre-mi{
    font-family: 'Cabin', sans-serif;
    font-weight: 200;
    color: #252525;
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    text-decoration: underline 2px #1C930D;
    text-underline-offset: 5px;
}
.p-sobre-mi{
    font-family: 'Cabin', sans-serif;
    color: #252525;
}
.perfil:hover{
    background-color: #cecccc;
}



/* section portafolio */

.title{
    font-family: 'Itim', cursive;
    font-weight: 500;
    color: #252525;
    text-align: center;
    font-size: 2rem;
    margin: 3rem 0;
    padding-top: 6rem;
}

.subtitle-portafolio{
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    color: #252525;
    text-decoration: underline 2px #1C930D;
    text-underline-offset: 5px;
    font-size: 1.4rem;
    margin: 0;
    text-align: center;
}
.item-portafolio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.set-item-proyectos, .set-item-knows, .set-item-certi{
    list-style-type: none;
}
.desc-item-proyectos, .desc-item-knows, .desc-item-certi{
    font-family: 'Cabin', sans-serif;
    color: #252525;
    font-size: 0.9rem;
    text-align: center;
}
.img-item-proyectos{
    width: 70px;
}
.img-item-proyectos-max{
    height: 70px;
}
.set-item-proyectos{
    margin: 0 2rem;
}
.conte-img-item-proyectos{
    text-align: center;
}
.img-item-knows{
    width: 50px;
}
.item-proyectos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem 0;
}
.item-knows{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.lest-knows{
    grid-row: 3;
    grid-column: 2;
}
.set-item-knows{
    margin: 0.4rem 0.8rem;
}

.conte-img-item-certi{
    text-align: center;
}
.img-item-certi{
    width: 80px;
}
.set-item-certi{
    margin-bottom: 2rem;
}
.conte-img-div{
    position: relative;
}
.img-div{
    position: absolute;
    width: 40%;
    top: -430px;
    left: 30%;
    z-index: 0;
}


/* Setion experiencia */
.conte-p-experiencia{
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-experiencia{
    font-family: 'Cabin', sans-serif;
    color: #252525;
    font-size: 1.5rem;
    width: 740px;
    text-align: center;
    margin: 0;
    padding: 0 0 2rem 0;
    border-bottom: 3px solid #1C930D;
}
.conte-frase{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
.frase{
    font-family: 'Libre Baskerville', serif;
    color: #252525;
    font-size: 1.8rem;
    width: 700px;
    text-align: center;
    padding-top: 1rem;
    border-radius: 10px;
    transition: background-color 0.5s;
}
.comillas{
    font-family: 'Catamaran', sans-serif;
    display: inline-block;
    color: #1C930D;
    transform: scale(3);
    margin: 0.3rem 1rem;
}
.frase:hover{
    background-color: #cecccc;
}


/* Section estudios */
.set-item-estudios{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    width: 45rem;
    border-radius: 7px;
    border-left: 3px solid #1C930D;
    border-right: 3px solid #1C930D;
    transition: background-color 0.5s, padding 0.5s;
}
.nom-item-estudios{
    width: 45rem;
    font-family: 'Cabin', sans-serif;
    color: #252525;
    font-size: 1.4rem;
    padding: 0 3rem; 
}
.lugar-item-estudios{
    width: 45rem;
    font-family: 'Cabin', sans-serif;
    color: #252525;
    padding: 0 3rem;
}
.conte-estudios{
    margin: 3rem 0;
}

.set-item-estudios:hover{
    background-color: #cecccc;
    padding: 1rem 0;
}



/* section contacto */
.set-item-contacto{
    list-style-type: none;
    border-radius: 50%;
    padding: 1rem 0;
}
.set-item-contacto a{
    text-decoration: none;
    color: #252525;
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
}
.conte-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem 0;
}
.img-item-contacto{
    width: 7rem;
    transition: width 0.3s;
}
.conte-img-item-contacto, .item-title-dato, .item-dato{
    text-align: center;
    margin: 0 3rem;
}

.img-item-contacto:hover{
    width: 5.6rem;
}


/* Footer */

.footer{
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    color: #252525;
    border-top: 3px solid #1C930D;
    padding: 0.5rem 0 0 2rem;
}